.imageSlider img{
    
    width:100%;
    height:500px;
}
.imageSlider{
    width:900px;
    padding-left:200px;
}
.imageSlider button{
    font-size:14px;
    padding:10px 15px;
    margin-left:5px;
    
}