.form{
    text-align: center;
    /* border: 3px solid rgb(24, 22, 23); */
    padding: 20px;
    margin:10px 60px;

}
.form-btn {
    padding:30px 20px;
    margin: 20px;
}
    
.btn{
    padding:10px 30px;

}
.busData{
    border :3px solid rgb(214, 169, 207);
}
.search{
    margin: 0 500px;
}
